---
layout: post
title: Cambridge Testimonials
location: Cambridge
category: Location
---
<div class="container">
	<p>
		Here are testimonials sorted in order of proximity to Cambridge:
	</p>

	{% assign sorted_testimonials = site.data.TestCSVexportforTestimonialDB | sort: 'DistanceFromCambridgeSaved' %}

	<ul>
		{% for testimonial in sorted_testimonials %}
		<p>
			{{ testimonial.Review }}
			<br>
			<strong>&mdash;{{ testimonial.ClientDisplayName }}, {{ testimonial.Town }}</strong>
			{% include tag-links.html %}
		</p>
		{% endfor %}
	</ul>
</div>