---
title: Commercial PV Systems
layout: default
---

<p>
	Great Solar Ltd has experience designing and building solar systems for a range of commercial clients.
</p>

<p>
	Here are some testimonials from our commercial clients:

		{% assign testimonials = site.data.TestCSVexportforTestimonialDB %}

	<ul>
		{% for testimonial in testimonials %}
			{% if testimonial.Tags contains "Commercial" %}
			<p>
				{{ testimonial.Review }}
				<br>
				<strong>&mdash;{{ testimonial.ClientDisplayName }}, {{ testimonial.Town }}</strong>
				{% include tag-links.html %}
			{% endif %}
		</p>
		{% endfor %}
	</ul>

</p>

