---
layout: post
title: LG Panel Testimonials
category: Technology
---
<div class="container">
	<p>
		Here are testimonials from clients with LG solar PV panels:
	</p>

	{% assign testimonials = site.data.TestCSVexportforTestimonialDB %}


	<ul>
		{% for testimonial in testimonials %}
			{% if testimonial.Tags contains "LG Panels" %}
			<p>
				{{ testimonial.Review }}
				<br>
				<strong>&mdash;{{ testimonial.ClientDisplayName }}, {{ testimonial.Town }}</strong>
				{% include tag-links.html %}
			{% endif %}
		</p>
		{% endfor %}
	</ul>
</div>