---
layout: post
title: Oxford Testimonials
location: Oxford
category: Location
permalink: /Oxford/
---

Here are testimonials sorted in order of proximity to Oxford:

{% assign sorted_testimonials = site.data.TestCSVexportforTestimonialDB | sort: 'DistanceFromOxfordSaved' %}

<ul>
	{% for testimonial in sorted_testimonials %}
	<p>
		{{ testimonial.Review }}
		<br>
		<strong>&mdash;{{ testimonial.ClientDisplayName }}, {{ testimonial.Town }}</strong>
		{% assign tags = testimonial.Tags | split: "#" %}
		{% for tag in tags %}
		  {{ tag }}
		{% endfor %}
	</p>
	{% endfor %}
</ul>