{% assign tags = testimonial.Tags | split: "#" %}

{% for tag in tags %}
	{% if tag contains "LG" %}
	  	[<a href="/technologies/LG-Solar-Panels">{{ tag }}</a>]
	{% elsif tag contains "SolarEdge" %}
	  	[<a href="/technologies/SolarEdge-Inverter">{{ tag }}</a>]
	{% elsif tag contains "Commercial" %}
	  	[<a href="/commercial-systems">{{ tag }}</a>]
	{% elsif tag contains "Residential" %}
	  	[<a href="/residential-systems">{{ tag }}</a>]
  	{% elsif tag contains "Trina" %}
  	  	[<a href="/technologies/Trina-Solar-Panels">{{ tag }}</a>]
  	{% elsif tag contains "REC" %}
  	  	[<a href="/technologies/REC-Solar-Panels">{{ tag }}</a>]
	{% elsif tag contains "SolaX" %}
	  	[<a href="/technologies/SolaX-Inverter">{{ tag }}</a>]
 	{% else %}
 	 	[{{ tag }}]
	{% endif %}
{% endfor %}